/* initial styles,to remove default margin/padding across browsers */
#content html,#content body {
	margin:0;
	padding:0;
	font:11px Arial,sans-serif; 
}
form,fieldset{margin:0;padding:0;font:11px Arial,sans-serif}
input,select,textarea{font-size:100%}
#content body{font:11px Arial,sans-serif;width:760px}
a{color:#660099;text-decoration:underline;outline:none}
a.img{border:none;text-decoration:none}
sup{font-size:70%}
h1{color:#660099;font-size:18px;font-weight:normal;margin-bottom:10px}
h2{color:#660099;font-size:15px}
h2.title{color:#000000;font-size:15px}
h2.appname{margin:5px 0 10px 15px}
#content h3{color:#000;font-size:13px}
h3.sectionhead, div.sectionhead{border-bottom:1px solid #000;margin:0 0 5px 0;padding:0 0 4px 0;color:#000;font-size:13px;font-weight:normal}
p{margin-bottom:10px}
th{text-align:left}
td p{margin-bottom:5px}
td{vertical-align:top}
ol{margin:0 0 8px 24px}
#content strong{font-weight:bold}
.bullets{list-style-type:square;margin:0 0 10px 0;padding:0 0 0 20px}
/*uber help on click exposes a dropdown menu */
#uberhelp{float:right;position:relative;width:65px;height:18px;list-style:none;margin:0}
#uberhelp a,#uberhelp span{display:block;padding:0 6px 0 25px;width:34px;height:18px;line-height:18px;background:transparent url(../images/icon_help_new.gif) no-repeat 0px 0px;text-decoration:none;color:#000;font-size:11px;cursor:pointer}
#uberhelp a.on{background-position:0px -82px}
#uberhelp ul.showhelpmenu{left:-117px}
#uberhelp ul.hidehelpmenu{left:-999em}
#uberhelp ul{position:absolute;top:18px;left:-999em;border:1px solid #666;border-bottom:none;background-color:#fff;list-style:none}
#uberhelp li li a{display:block;text-decoration:none;color:#202020;padding:1px 5px 1px 5px;border-bottom:1px solid #666;width:170px;color:#202020;background-color:#f4f4f4;background-image:none}
#uberhelp li li a:hover{background-color:#660099;color:#fff}
/* controls are next to uberhelp,links like logout,view demo etc */
#controls{float:right}
#controls li{padding:3px 10px 3px 0}
#controls .demo{padding:3px 10px 0 22px;background:transparent url(../images/icon_demo.gif) no-repeat;height:19px}
/* plus/minus link styles */
.morelink,a.more{width:9px;height:9px;display:inline;background:transparent url(../images/icon_plus_purple.gif) no-repeat;background-position:center left;padding-left:15px}
.lesslink,a.less{width:9px;height:9px;display:inline;background:transparent url(../images/icon_minus_purple.gif) no-repeat;background-position:center left;padding-left:15px}
.formedit,.toggleSubSection{width:9px;height:9px;/*display:inline;*/ background:transparent url(../images/icon_plus_minus_purple.gif) no-repeat;text-indent:-20000em;text-decoration:none;font-size:9px;margin-left:10px}
.formedit span,.toggleSubSection span{visibility:hidden}
.express{color:#FF6600}
.ground{color:#33CC00}
/* content */
#content {
    padding:20px 10px 10px;
}
.appwrap{width:745px}
/*appnav - tab nav that sits atop the appwrap */
#appnav{height:20px;list-style:none;margin:0}
#appnav li{float:left;margin:0 2px 0 0}
#appnav li.last{margin-right:0}
#appnav li a{font-weight:normal;display:block;width:160px;padding:2px 2px 2px 6px;height:15px;color:#202020;background-color:#f4f4f4;font-size:11px;border:1px solid #666;border-bottom:none;text-decoration:none}
#appnav li a.more{background:#f4f4f4 url(../images/bg_arrows_appnav.gif) no-repeat top right}
#appnav li a.more:hover{background-position:bottom right}
#appnav li a:hover{background-color:#660099;color:#fff}
#appnav li a:hover li a{color:#202020;background-color:#f4f4f4}
#appnav li.on a,#appnav li.on a:hover{color:#fff;background-color:#666;font-weight:bold;font-size:12px}
#appnav li.on a.more{background-image:url(../images/bg_arrows_appnav_on.gif)}
#appnav li li{float:none;margin:0}
#appnav li ul{position:absolute;left:-999em;border-bottom:1px solid #666}
#appnav li ul a{width:175px;font-size:11px}
/* FCL buttons custom widths */
#appnav li.myfedex a{width:100px}
#appnav li.myprofile a{width:100px}
/* steps - the following styles extend the steps defined in fxnxgen.css */
.steps{margin:13px 10px 10px 14px}
/* p.denotereqfield - the following styles extend the steps defined in fxnxgen.css */
p.denotereqfield{margin-left:14px}
/* calendar/date picker */
.calendarcontainer{position:relative;display:none}
.calendar{border:1px solid #bbb;position:absolute;top:0;left:0;display:block}
.calendar th{border-bottom:none;text-align:center;background-color:#fff;padding:3px 5px 2px 5px}
.calendar td{background-color:#E6E6E6;padding:0;text-align:right}
.calendar td a{display:block;width:12px;height:12px;padding:3px 5px 3px 5px;text-decoration:none;color:#202020}
.calendar .today a{color:#fff;background-color:#999}
.calendar .inthepast,body.ship table.shipform .calendar .nextmonth{color:#aaa;width:12px;height:12px;padding:3px 5px 3px 5px}
.calendar a:hover{background-color:#660099;color:#fff}
/*try to override styles for Report screen */
#theCal .calendarcontainer{position:relative;display:none}
#theCal .calendar{border:1px solid #bbb;position:absolute;top:0;left:0;display:block}
#theCal .calendar th{border-bottom:none;text-align:center;background-color:#fff;padding:3px 5px 2px 5px;font-size:12px !important;font-weight:normal !important}
#theCal .calendar td{background-color:#E6E6E6;padding:0;text-align:right}
#theCal .calendar td a{display:block;width:12px;height:12px;padding:3px 5px 3px 5px;text-decoration:none;color:#202020}
#theCal .calendar .today a{color:#fff;background-color:#999}
#theCal .calendar .inthepast,body.ship table.shipform .calendar .nextmonth{color:#aaa;width:12px;height:12px;padding:3px 5px 3px 5px}
#theCal .calendar a:hover{background-color:#660099;color:#fff}
/*tooltip*/
/*
a.tooltip{position:relative;text-decoration:none;padding-left:2px}
a.tooltip:hover{z-index:1000000;border:none;*/
/*note:IE needs this line for some unknown reason */
/*}
a.tooltip span{z-index:10;position:absolute;top:12px;left:-200000px;padding:0;margin:0;width:175px;border:2px solid #ccc;line-height:normal;color:#666;background-color:#fff !important;font-size:11px;overflow:hidden;text-decoration:none}
a.tooltip:hover span em{font-style:normal;display:block;padding:5px;background-color:#fff !important}
a.tooltip:hover span strong{color:#333;font-size:11px;padding:3px 5px;display:block;width:auto;border-bottom:2px solid #ccc;font-weight:bold;background-color:#fff !important}
a.tooltip:hover span{left:0}
*/
.tooltip{text-decoration:none;padding-left:2px;display:inline}
.tooltip span{cursor:pointer;color:#660099}
.tooltip div{z-index:10;position:absolute;top:12px;left:-200000px;padding:0;margin:0;width:175px;border:2px solid #ccc;line-height:normal;color:#666;background-color:#fff !important;font-size:11px;overflow:hidden;text-decoration:none}
.tooltip div p{font-size:11px;font-weight:normal;display:block;padding:5px;margin:0;background-color:#fff !important}
.tooltip div h3{color:#333;font-size:11px;margin:0;padding:3px 5px;display:block;width:auto;border-bottom:2px solid #ccc;font-weight:bold;background-color:#fff !important}
.tooltip .on{left:0}
.fineprint{font-size:10px}
/* form modules - note:IE 6 doesn't like a wdith on the fieldset tag,it won't apply the correct margin */
fieldset{padding:0 0 15px 0;margin:0 0 15px 0;background-color:#F5F5F5;border:1px solid #8B50A8}
fieldset.full{margin-right:14px;margin-left:14px}
fieldset h2{border-bottom:solid 2px #660099;margin:0;padding:4px 7px 4px 7px;color:#660099;font-weight:bold}
fieldset label span{display:block;padding:0 3px 0 0;float:left}
fieldset label span.prompt{padding:4px 3px 0 16px;width:100px}
fieldset label.full{padding:4px 3px 0 16px}
fieldset label span.required{background-image:url(../images/icon_required.gif);background-repeat:no-repeat;background-position:6px 6px}
fieldset label{display:block;clear:both;margin:0;padding:4px 0 0 0}
fieldset label.inline{display:inline}
fieldset.buttons{text-align:right;margin-top:-5px;padding:0;border:none;background-color:#fff}
fieldset.buttons label{padding-right:0}
fieldset label.buttons{text-align:right;padding-right:10px}
fieldset label.buttons input{margin:0}
fieldset.results label{padding:0}
fieldset.results span{padding-top:0}
fieldset span.results{padding-top:4px}
fieldset.results span.prompt{padding:0 3px 0 7px;width:109px}
fieldset .colleft .textfull,fieldset .colright .textfull{width:200px}
fieldset .colleft .selectfull,fieldset .colright .selectfull{width:205px}
fieldset.preferences{background-color:#F2F3FF;border:1px solid #666}
fieldset.preferences h2{border-bottom:solid 2px #660099;margin:0;padding:4px 7px 4px 7px;color:#660099;font-weight:bold;font-size:15px}
fieldset h3{margin:5px 7px;paddding:0 0 4px 0;color:#000;font-size:13px}
fieldset h3.sectionhead{border-bottom:1px solid #000;margin:5px 7px;padding:0 0 4px 0;color:#000;font-size:13px}
#content fieldset h3.sectionhead{border-bottom:1px solid #000;margin:5px 7px;padding:0 0 4px 0;color:#000;font-size:13px}
fieldset h3.on{font-weight:bold}
fieldset .colleft h3,fieldset .colright h3,fieldset .colleft h3.sectionhead,fieldset .colright h3.sectionhead{margin:0 0 5px 0}
fieldset p{margin:5px 7px}
fieldset label.summary{font-weight:bold}
fieldset div.summary{margin:5px 7px;font-weight:bold}
fieldset div.summary p{margin:8px 0 5px 0}
fieldset div.edit{margin:8px 0 5px 0}
fieldset.optional{background-color:#fff;border:1px solid #ccc}
fieldset.optional h2{border-bottom:solid 2px #ccc;color:#000;font-weight:normal;font-size:15px}
fieldset a.help,fieldset h2 a.help{float:right;margin:3px 0px 0 0;text-transform:capitalize;font-size:12px;font-weight:bold;color:#000000 !important;padding:0 0 0 15px;background-position:center left;background-repeat:no-repeat;background-image:url(../images/icon_help_small.gif)}
fieldset h2 a.edit,fieldset h2 a.hide,fieldset h3 a.edit,fieldset h3 a.hide{float:right;margin:3px 0 0 10px;color:#000 !important}
.selectedaccounts{background-color:#fff;border:1px solid #ccc;padding:5px}
/* checktext - for radio and checkboxes next to text,if text wraps,we want to maintain a column look */
p.checktext,div.checktext,span.checktext{width:280px;float:left;display:block;padding-bottom:5px}
input.checktext{float:left;margin:0 0 0 12px}
span.checktext p{width:280px;float:left;display:block;padding-bottom:5px}
span.checktext input{width:280px;float:left;display:block;padding-bottom:5px}
#content .divider{height:1px;overflow:hidden;border-top:1px solid #bbb;border-bottom:1px solid #fff;margin:5px 7px;clear:both}
/* for generic pipe delimited horizontal utility nav elements,the pipe will be wrapped in a span tag */
.utility li{margin:0;padding:0px 4px 0px 0;list-style:none;float:left}
.utility a{padding-right:.4em}
/* apputility - links like clear fields,preferences which fall within the confines of the appwrap */
#apputility{float:right;margin:13px 5px 10px 10px}
/* COLUMNS LEFT AND RIGHT - OUTER AND NESTED... */
/* LAYOUT - 2 columns */
.colleft{float:left;padding:0 15px 0 14px;margin:0;width:350px}
.colright{float:left;padding:0;margin:0;width:350px}
.coltripleleft{float:left;padding:0 0 0 7px;margin:0;width:220px}
.coltriplemiddle{float:left;padding:0;margin:0;width:225px}
.coltripleright{float:left;padding:0;margin:0;width:225px}
.coltripleleft h3,.coltripleright h3,.coltriplemiddle h3{/*font-weight:bold;*/}
.coltripleleft input,.coltripleright input,.coltriplemiddle input{margin:0}
/* LAYOUT - 2 columns nested in full width fieldset */
fieldset .colleft{width:335px}
fieldset .colright{width:335px}
fieldset .colright p,fieldset .colleft p,fieldset .colsm p{margin:5px 0}
fieldset .colsm{float:left;padding:10px 0 5px 15px;width:159px}
fieldset .colright label.buttons,fieldset .colleft label.buttons{text-align:right;padding-right:0;padding-top:15px}
/* Please note - appears under last module */
.note{margin:0 14px 15px 14px}
p.intro{font-size:12px}
div.intro{margin:0 14px}
/* for upsell MAGs in intro area */
img.upsell{float:right;margin:0 14px 15px 15px}
/* notedata - on confirmation pages */
.notedata{border:1px solid #ccc;background-color:#fff;padding:5px;/*width:100px;*/
font-size:13px}
/* capacity indicator*/
.capacitychart{margin:10px 0 10px 8px}
.capacitychart p{margin:0;background-color:#999;width:200px}
.capacitychart img{border:none;width:190px;height:6px}
/* reports */
.paging{float:right;margin:0 14px 5px 14px}
.searchby{display:none}
/* Alerts and error message areas */
/* alert within module */
#content .alert{margin:5px;padding:2px 10px 0 22px;background:transparent url(../images/icon_alert_trans.gif) no-repeat;font-size:11px}
.alert em,#content .alert strong{color:#660099;font-weight:bold;font-style:normal;font-size:13px;display:block;margin-bottom:4px}
/* alerts message at top*/
.alertmsg,.outage,.timeout,.message{background-color:#e6e6e6;border:1px solid #bbb;padding:6px 6px 0 6px;color:#000;/* margin:10px 14px 14px 14px;*/
margin:0px 0px 14px 0px}
.alertmsg h2,.outage h2,.timeout h2{background:transparent url(../images/icon_alert_trans.gif) no-repeat;padding:2px 10px 0 22px;height:20px}
.alertmsg p,.outage p,.timeout p{margin:2px 10px 0px 22px}
/* main error message at top */
.gblerror{background-color:#e6e6e6;border:1px solid #bbb;padding:6px 6px 0 6px;margin:10px 14px 14px 14px}
.gblerror h2{background:transparent url(../images/icon_alert_error.gif) no-repeat;padding:2px 10px 0 22px;height:20px;color:#ff0000}
.gblerror p{margin:2px 15px 10px 22px;color:#ff0000}
/* clear floats */
.cleaner{clear:both;height:1px;font-size:1px;border:none;margin:0;padding:0;background:transparent}
h2.alt{color:#000}
h3.alt{font-weight:bold;margin-bottom:5px}
.formmodule p{font-size:11px}
div.buttons{text-align:right;padding:14px;border:none;/*background-color:#fff;*/}
fieldset div.buttons{padding:0 14px}
/*clicktip*/
a.clicktip{position:relative}
a.clicktip span{display:none;position:absolute;top:20px;left:0px;z-index:1000;text-decoration:none;padding:0;width:200px;border:2px solid #ccc;line-height:normal;color:#666;background-color:#fff;font-size:11px;overflow:hidden}
a.clicktip span h3{font-weight:bold;color:#202020;font-size:11px;padding:5px;display:block;width:auto;border-bottom:2px solid #ccc}
a.clicktip span p{padding:5px}
/* survey */
.survey input{margin-left:30px}
table.details{width:100%}
table.details td{width:50%;padding:2px 10px 3px 0}
/* toggler */
.toggler{cursor:pointer}
/* account page,addresses same as contact address */
.shipping-address,.billing-address{display:none;clear:left}
/* survey bold labels */
label.bold{font-weight:bold}
/* myFedEx pages */
.myfx-container{position:relative}
#btn-profile{position:absolute;top:37px;left:70px;border:1px solid #ccc;display:block;width:77px;height:16px;padding:4px 0 0 10px;text-decoration:none;color:#000}
#btn-home{position:absolute;top:37px;left:0;border:1px solid #ccc;display:block;width:57px;height:16px;padding:4px 0 0 10px;text-decoration:none;color:#000}
#myfx-buttons{position:absolute;width:722px;top:385px;left:0;padding:0 0 0 14px;text-align:right}
/* account page account type toggle is a header with a radio */
.account-toggle input{margin:0 -2px 0 -3px}
.dynamicgray{font-family: Arial, sans-serif;font-size: 12px;font-weight: bold;color:#000;background:#E6E6E6;}
.fieldsetborder{border:1px solid #8B50A8}

/* ADA changes */

.ui-hidden-accessible {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
}

/* required todo ADA set focus on element start*/
	 * a:focus, * input[type='radio']:focus, * h1:focus, * input[type='submit']:focus, * input[type='checkbox']:focus, * input[type='button']:focus, * input[type='select']:focus,
	  #header a:focus { outline:1px dashed #4d148c !important} 
/* required todo ADA set focus on element end*/

/*ADA CHANGE*/
.alert:focus, .sectionhead:focus, .ada_creditcardauthorizationMessage:focus, .ada_question:focus, select:focus, .alertmsg:focus, #Information1:focus, #Information2:focus, #Information3:focus, .ada_registrationPageRadio:focus,.moduleHeaderTitle:focus{
    outline:1px dashed #660099 !important;
}
.adaChange 
{
	color: #660099 !important;
	float: left;
	font-size: 15px;
	padding: 4px 7px 4px 7px;
}
.adaBoldFont{
	font-weight:700 !important
}
.adaH3 {
	font-size:12px !important
} 
